.item-list{
    margin: 3vh 0;
}

.item-list strong{
    color: #5398F5;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    margin: 3vh 0;
}

.item-list p{
    color: #999999;
    font-size: 12px;
    margin: 3vh 0;
}

.item-list a{
    text-decoration: none;
}